In [ ]:
from google.colab import drive
drive.mount("/content/drive/")

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/DT_DataSet_v1.0.csv")
df.shape
df.columns
df

    Day  WakeUp HaveTalk Weather GoToSchool
0    D1  Normal       No   Sunny         No
1    D2  Normal       No    Rain         No
2    D3   Early       No   Sunny        Yes
3    D4    Late       No   Sunny        Yes
4    D5    Late      Yes   Sunny        Yes
5    D6    Late      Yes    Rain         No
6    D7   Early      Yes    Rain        Yes
7    D8  Normal       No   Sunny         No
8    D9  Normal      Yes   Sunny        Yes
9   D10    Late      Yes   Sunny        Yes
10  D11  Normal      Yes    Rain        Yes
11  D12   Early       No    Rain        Yes
12  D13   Early      Yes   Sunny        Yes

In [ ]:
from sklearn.preprocessing import LabelEncoder
lblEncoder = LabelEncoder()
encoded_df = df.apply(lblEncoder.fit_transform)
print(encoded_df)

    Day  WakeUp  HaveTalk  Weather  GoToSchool
0     0       2         0        1           0
1     5       2         0        0           0
2     6       0         0        1           1
3     7       1         0        1           1
4     8       1         1        1           1
5     9       1         1        0           0
6    10       0         1        0           1
7    11       2         0        1           0
8    12       2         1        1           1
9     1       1         1        1           1
10    2       2         1        0           1
11    3       0         0        0           1
12    4       0         1        1           1

In [ ]:
from sklearn.model_selection import train_test_split

predictors = encoded_df.iloc[:,0:4]
target = encoded_df.iloc[:,4]
train_X, test_X, train_y, test_y = train_test_split(predictors,target,test_size=0.3, random_state=88)

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(train_X,train_y)
print(f"Test set predictions : {gnb.predict(test_X)} ")
print(f"Actual set class : {test_y}")

Test set predictions : [0 0 1 1]
Actual set class : 7     0
3     1
12    1
2     1
Name: GoToSchool, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score
print(f"Accuracy is {accuracy_score(test_y,gnb.predict(test_X))} ")

Accuracy is 0.75

In [ ]:
from sklearn.metrics import confusion_matrix
predictions=gnb.predict(test_X)
cnf_matrix = confusion_matrix(test_y,predictions)
print(cnf_matrix)

[[1 0]
 [1 2]]